.banniere {


  .bg-couleur{
    background-color: #1A2430;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    h2{
      font-family: $ff-title;
      font-weight: $fw-bold;
      font-size: 30px;
      color: $white;
      position: absolute;
      top:150px;

    }



    .poster1{


  height: 500px;
opacity: 0.5;
  object-position: 50% 60%;
  object-fit: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);


}


}
}

section.section-article {

  background-color: $gray-300;
margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  color: #1A2430;

  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);




  img {
    max-width: 400px;
    object-fit: cover;
    margin: 0 20px 20px 0;
    order: 2;

  }

  div.article-text {

   color: $color-text-normal;
    width: 55%;

    h2 {
      text-align: initial;
      margin: 0;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .film-rating ion-icon{
      font-size: rem(45);
      color: #34465d;

    }
  }


}

div.article-contenu {

  background-color: $gray-500;
  width: 320px;
  color: #1A2430;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  padding: 25px;
  margin-top: 2em;





  span.resultat {
    font-size: rem(48);
    font-weight: bold;
    margin-right: 1px;
    color: #34465d;
  }



}

section.section-acteurs {
  h3 {
    padding-left: 20px;
  }

  div.fiches-acteurs {

    display: flex;
    justify-content: space-between;
    padding: 20px;

    div.acteurs {
     padding-right: 10px;

      p {
        margin-top: 0;
      }
    }
  }

  hr.hr-fiche {
    margin: 3em 0;
  }
}

section.section-commentaire {
  margin-bottom: 4em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h5 {
    margin: 30px;
  }

  div.commentaire {

    position: relative;
    border-radius: 15px;
    border: solid 1px $gray-500;
    height: 100%;
    width: 55%;
    margin-bottom: 15px;
    padding: 15px;


.avatar{
  position: absolute;
  top:37px;
  right:470px;
}

    .avatar2{
      position: absolute;
      top:270px;
      right: 485px;
    }
    p {
      margin:10px;
      padding: 10px;
    }


  }


  form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

p{
  display: flex;
  justify-content: center;
  align-items: center;

}

    textarea {
      width: 400px;
    }


  }
}



  @import url(https://fonts.googleapis.com/css?family=Raleway:400);
  .btn-comentaire {
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    background-color: #1A2430;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0 30px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 400;
    outline: none;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    border-radius: 23px;
    letter-spacing: 2px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .btn-comentaire:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .btn-comentaire:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #5666a5;
    content: '';
    border-radius: inherit;
  }
  .btn-comentaire:hover,
  .btn-comentaire.hover {
    background-color: #5666a5;
    color: #ffffff;
  }
  .btn-comentaire:hover:before,
  .btn-comentaire.hover:before {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.25;
  }


// VERSION MOBILE

@media screen and (max-width: $vw-small) {

  section.section.article {

    flex-direction: column;

    div.article-text {
      width: 100%;

    }
  }

  section.section-acteurs {

    div.fiches-acteurs {
      flex-wrap: wrap;
      justify-content: flex-start;

      div.acteurs {
        width: 30%;
        margin: 0 0.2em;
      }
    }
  }



}