.footer-page{
  background-color: $color-bg-header;




}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color:$white;

}

.moviedb-logo{
  width: 25%;
}
.social{
  font-size: rem(25);


}
#myBtn{
  font-size: rem(25);
  -webkit-transition: 0.35s;

}

#myBtn:hover{
  cursor: pointer;
  -webkit-transition: 0.35s;
}


.social a{
  margin-left: 30px;
  color:$white;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.mediaSnip {
  position: relative;
  font-size: 40px;
  background-color: #253244;
  color: #ffffff;

  line-height: 75px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mediaSnip:after {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 50%;
  right: 50%;
  background: #19f6e8;;
  content: '';
}
.mediaSnip:before,
.mediaSnip:after {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.mediaSnip:hover,
.mediaSnip:active,
.mediaSnip.hover {
  color: #ffffff;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
}
.mediaSnip:hover:after,
.mediaSnip:active:after,
.mediaSnip.hover:after {
  left: 0;
  right: 0;
}


@media screen and (max-width: $vw-medium) {

  .social{




     ion-icon{
      font-size: rem(18);

    }
    .moviedb-logo{
      width: 15px;
    }
    a{
      margin:0;
      padding-right:5px;
    }
  }


}