.header-page {
  background-color: $color-bg-header;
  padding: 10px 10px;


  a{
    text-decoration: none;
    color:$gray-500
  }

  ul a:hover{
    color: $white;
  }
}

// NAV

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2.5em;

  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: rem(48);
    color: $gray-500;
    margin-right: 0.2em;

    a{
      line-height: 0;

    }
    a:hover{
      color: $white;

    }

    h1{
      color: $gray-500;
      font-size: rem(42);
      font-weight: $fw-regular;

    }
    .logofilm:hover{
      color: $white;
    }

  }

  // MENU HAMBURGER

  .show-menu {
    display: none;

    ion-icon{
      padding-top: 15px;
      font-size: rem(24);
      color: $color-text-normal;
    }
  }
  .toggle-menu {
    display: none;
  }
  .toggle-menu:checked + ul {
    display: block;
  }

  // MENU PRINCIPAL

  .main-menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  ul {

    padding: 0;
    margin: 0;
    width: auto;

    display: flex;


    a {
      display: block;
      padding: 10px 10px;
    }

  }

  .main-menu * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  .main-menu li {
    display: flex;
    align-items: center;
    list-style: outside none none;
    margin: 0.5em 1em;
    padding: 0;
  }
    .main-menu a{

      justify-content: flex-end;
      align-items: center;
      padding: 0.5em 0.8em;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      text-decoration: none;
    }

    .main-menu a:before,
    .main-menu a:after {
      height: 14px;
      width: 14px;
      position: absolute;
      content: '';
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      opacity: 0;
    }

    .main-menu a:before {
      right: 0;
      top: 0;
      border-right: 3px solid #19f6e8;
      border-top: 3px solid #19f6e8;
      -webkit-transform: translate(-100%, 50%);
      transform: translate(-100%, 50%);
    }
    .main-menu a:after {
      left: 0;
      bottom: 0;
      border-left: 3px solid #19f6e8;
      border-bottom: 3px solid #19f6e8;
      -webkit-transform: translate(100%, -50%);
      transform: translate(100%, -50%);
    }
  .main-menu a:hover,
  .main-menu .current a {
    color: $white;
  }

  .main-menu a:hover:before,
  .main-menu .current a:before,
  .main-menu a:hover:after,
  .main-menu .current a:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

  @media screen and (max-width: $vw-medium){

    .header-menu{
      flex-direction: column;




      .show-menu{
        display: initial;
      }

      .main-menu{
        display: none;
        width: 100%;

li{
  display: flex;
  justify-content: center;
  align-items: center;
}




      }


    }



  }

  @media screen and (max-width: $vw-small){




    }










