.template{
  display: none;
}

.section-article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

figure.article{
  width: 26%;
background-color:#253244;
  font-family: $ff-normal;
  color: $gray-500;
  text-align: center;
  padding: 5px;
}

.article{
  background-color: $color-bg-dark;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
.film-rating{
  font-size: rem(20);
  font-weight:$fw-bold;
  font-family: $ff-normal;

}

.film-rating ion-icon{
  font-size: rem(45);
  color:#19f6e8;

}

span.resultat{
  color: $white;
  font-size: rem(28);
  font-weight: bold;
  margin-right: 2px;
}
.ligne{
  border-bottom: 3px solid $white;
}

.article h4{
  color: $white;
  font-family: $ff-title;
  font-size: rem(26);
  text-align: center;

}
.description{

  word-wrap: break-word;
  text-align: start;
  padding: 10px;

}

  div.image:hover {
  opacity: 0.5;
}


.svg-wrapper {

  height: 60px;
  padding-top: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  cursor: pointer;

}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-size: 18px;
  letter-spacing: 8px;
  line-height: 40px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


  @media screen and (max-width: $vw-medium){


    figure.article{
      width: 100%;
      margin-right: 0;
      margin-left: 0;


    }

    .film-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 2;
    }

  }


