//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR


// Dimension maximal
$max-width: 1200px;
$min-width: 320px;

// MEDIA QUERIES
$vw-thin: 320px;
$vw-small: 425px;
$vw-medium: 768px;
$vw-large: 1360px;
$vw-huge: $max-width;